% Where to find modules and applications
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps/*"]}.

% Our application dependencies
{deps, [
	{poolboy, "1.2.1", {git, "https://github.com/devinus/poolboy.git", {tag, "1.2.1"}}},
	{lager, "2.0.3", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}}
]}. 


% Erlang compiler options
{erl_opts, [
	{parse_transform, lager_transform}
]}.