[
	{lager, [
		{crash_log, "log/crash.log"},
		{error_logger_redirect, true},
		{handlers, [
			{lager_file_backend, [{file, "log/file_echo.log"}, {level, info}, {size, 10485769}, {date, "$D0"}, {count, 5}]}
		]}
	]},		
	{file_echo, [
		{pools, [
			{dapool, [
				{size, 4},
				{max_overflow, 5}
			], [
			]}			        
		]},
		{num_readers, 4}
	]}
].